{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block description %}
    <meta name="description" content="Drop map - проект про секонди і стоки у Львові. Графіки оновлень секондів і акції на стоках на нашій карті. Dropmap.">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="головна, drop map, секонд-хенд, секонд, сток, львів">
{% endblock %}

{% block title %}
    Головна - Dropmap
{% endblock %}

{% block data_page %}
    data-page="home"
{% endblock %}

{% block header %}
    <div class="o-header home">
        <nav class="o-header__navbar">
            <div class="o-header__container container"><a href="./" class="o-header__href"><img
                    src="{% static 'img/logo.png' %}"
                    alt="Dropmap"
                    class="o-header__logo"></a>
                <div class="menu-mobile-active-item"><a class="menu__item--active">ГОЛОВНА</a>
                </div>
                <div class="m-menu o-header__menu">
                    <ul>
                        <li><a href="{% url 'home:home' %}" class="menu__item--active menu__item">ГОЛОВНА</a></li>
                        <li><a href="{% url 'places:place_map_seconds' %}" class="menu__item">КАРТА</a>
                            <svg class="icon downTag">
                                <use xlink:href="{% static 'img/sprite.svg' %}#icon-arrow"></use>
                            </svg>
                            <ul>
                                <li><a href="{% url 'places:place_map_seconds' %}" class="sub-menu__item">Секонди |
                                    Оновлення</a></li>
                                <li><a href="{% url 'places:place_map_stocks' %}" class="sub-menu__item">Стоки |
                                    Акції</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'places:place_all' %}" class="menu__item">УСІ ЗАКЛАДИ</a></li>
                        <li><a href="{% url 'shop:list' %}" class="menu__item">МАГАЗИН <b>ALPHA</b></a>
                            <svg class="icon downTag">
                                <use xlink:href="{% static 'img/sprite.svg' %}#icon-arrow"></use>
                            </svg>
                            <ul>
                                <li><a href="{% url 'shop:create' %}" class="sub-menu__item">Додати товар</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'about:about' %}" class="menu__item">НАПИСАТИ АДМІНУ</a></li>
                        <li><a href="{% url 'user:profile' %}" class="menu__item">
                            {% if user.is_authenticated %}{{ user.get_username|upper }}{% else %}МІЙ
                                ПРОФІЛЬ <b>ALPHA</b>{% endif %}</a>
                            <svg class="icon downTag">
                                <use xlink:href="{% static 'img/sprite.svg' %}#icon-arrow"></use>
                            </svg>
                            <ul>
                                <li><a href="./my-stuff" class="sub-menu__item">Мої речі</a></li>
                                <li><a href="./my-favourites" class="sub-menu__item">Мої обрані</a></li>
                                <li><a href="./settings" class="sub-menu__item">Налаштування</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="o-header__hamburger"><a class="hamburger-link">
                    <svg class="icon o-header__hamburger--icon">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-burger"></use>
                    </svg>
                </a></div>
            </div>
        </nav>
        <div class="o-header__box container">
            <div class="o-header__text">
                <h1>Графіки оновлень секондів і акції на стоках на нашій карті</h1>
                <div class="o-header__text--button"><span>Показати карту</span>
                    <svg class="icon rightTag icon-white">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-arrow"></use>
                    </svg>
                    <a href="{% url 'places:place_map_seconds' %}" class="o-header__text--button--a"></a>
                </div>
            </div>
            <div class="o-header__place">
                <h3>Львів</h3>
                <svg class="icon">
                    <use xlink:href="{% static 'img/sprite.svg' %}#icon-map-pointer"></use>
                </svg>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="o-info-box container">
        <div class="info-box imageLeft">
            <div class="row">
                <div class="col-md-6 info-box--arranger">
                    <div class="info-box__text-contaiter">
                        <div class="info-box__text-contaiter--header">
                            <h2>КУПИТИ, ПРОДАТИ І ЩЕ ПОДИВИТИСЬ ДЕ СЬОГОДНІ ЗАВОЗ</h2>
                            <div class="info-box__line"></div>
                        </div>
                        <br>
                        <div class="info-box__text-contaiter--text">
                            <p>Не хочеш переплачувати за речі? І ми також. Тому ми зробили карту і магазин. Тепер ти
                                можеш:</p>
                            <ul>
                                <li>Дізнатись всю інфу про секонди і стоки Львова</li>
                                <li>Купити річ точно знаючи, що тебе не кинуть</li>
                                <li>Продати річ і зєкономити собі рік життя який витачають бариги на розкрутку акаунта і
                                    взаємний піар
                                </li>
                            </ul>
                            <p>Можеш спробувати продати річ прямо зараз або подивитись які речі уже є нижче </p>
                        </div>
                        <a href="#" class="button-text-icon info-box--button fixed-width-for-main">
                            <div class="text">Продати годну річ</div>
                            <div class="button-text-icon--holder">
                                <svg class="icon rightTag icon-white small">
                                    <use xlink:href="{% static 'img/sprite.svg' %}#icon-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="background-image: url('{% static 'img/second.jpg' %}');" class="info-box__image"></div>
                </div>
            </div>
        </div>
    </div>
    <section class="o-shop-offer">
        <div class="container">
            <h5>НАЙПОПУЛЯРНІШІ ТОВАРИ</h5>
            <h3>ЯКЩО ТОБІ ЛЕНЬ КУДИСЬ ВИХОДИТИ</h3>
            <ul class="m-shop-offer-block">

                {% for item in item_list %}
                    <li class="product-item">
                        <article class="shop-offer-item">
                            <div class="image-container">
                                <a href="{{ item.get_absolute_url }}"
                                   title="{{ item.name|capfirst }}"
                                   class="item-link">
                                    {% thumbnail item.main_image "170x170" crop="center" as im %}
                                        <img src="{{ im.url }}"
                                             alt="{{ item.name|capfirst }} - Dropmap" class="item-image">
                                    {% endthumbnail %}
                                </a>
                            </div>
                            {% if item.condition == "BN" %}
                                <div style="background-color:#009748;" class="shop-offer-item--label">
                                <span>Нова річ</span>
                            {% elif item.condition == "ST" %}
                                <div style="background-color:#CF7D35;" class="shop-offer-item--label">
                                <span>Секонд як нова</span>
                            {% else %}
                                <div style="background-color:#CE0030;" class="shop-offer-item--label">
                                <span>Секонд, є нюанси</span>
                            {% endif %}
                            </div>
                            <div class="item-details">
                                <h3 class="item-heading"><a href="{{ item.get_absolute_url }}"
                                                            title="{{ item.name|capfirst }}">{{ item.name|capfirst }}</a>
                                </h3>
                                <strong
                                        class="item-price"><span
                                        class="price-regular">{{ item.price }} грн</span></strong>
                                <div class="item-size-brand"><span>Розмір - {{ item.get_size_display }}</span>
                                </div>
                            </div>
                        </article>
                    </li>
                {% endfor %}

            </ul>
            <a href="/contact" class="button-footer button-footer-bold">БІЛЬШЕ ТОВАРІВ</a>
        </div>
    </section>
    <section class="o-place-offer place-offer-padding">
        <div class="container">
            <div class="m-place-offer-line">
                <div class="m-place-offer-line--heading">
                    <h3>Найпопулярніші секонди</h3>
                </div>
                <div class="m-place-offer-line--helptext">
                    <p>Де оновлення товару сьогодні</p>
                </div>
            </div>
            <div class="m-place-offer-block">
                <div class="m-place-offer-block--helptext">
                    <p>Де оновлення товару сьогодні </p>
                </div>
                <div class="m-place-offer-block--holder">
                    {% for second in second_list %}
                        <div class="m-place-item">
                        {% thumbnail second.main_image "230x200" crop="center" as im %}
                            <div style="background-image: url('{{ im.url }}');"
                                 class="m-place-item--image">
                        {% empty %}
                            <div style="background-image: url('{% static 'img/no-image.png' %}');"
                                 class="m-place-item--image">
                        {% endthumbnail %}
                    <p>{{ second.description|truncatechars:63 }}</p>
                    </div>
                    <hr>
                    <div class="m-place-item--text-block">
                        <h4>{{ second.name }}</h4>
                        <div class="m-place-item--text-block__info">
                            <svg class="icon icon-text-block">
                                <use xlink:href="{% static 'img/sprite.svg' %}#icon-clock"></use>
                            </svg>
                            <p>{% if second.get_day_display %}{{ second.get_day_display }}{% elif second.sale %}
                                {{ second.sale|truncatechars:20 }}{% else %}Акцій зараз немає{% endif %}</p>
                        </div>
                        <div class="m-place-item--text-block__info">
                            <p>{{ second.rating }}</p>
                            <svg class="icon icon-text-block star">
                                <use xlink:href="{% static 'img/sprite.svg' %}#icon-star_24px"></use>
                            </svg>
                        </div>
                    </div>
                    <a href="{{ second.get_absolute_url }}#show-map" class="m-place-item--button">
                        <p>Детальніше</p>
                        <svg class="icon rightTag">
                            <use xlink:href="{% static 'img/sprite.svg' %}#icon-arrow"></use>
                        </svg>
                    </a><a href="{{ second.get_absolute_url }}" class="m-place-item--link"></a>
                    </div>
                    {% empty %}
                        <p>На жаль на сьогодні оновлень немає. Але є на <b><a style="color: #00132b;"
                                                                              href="{% url "places:place_map_seconds" %}">завтра</a></b>
                        </p>
                    {% endfor %}
                    </div>
                </div>
            </div>
    </section>


{% endblock %}