{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="uk">
<head>
    <meta charset="utf-8">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140863969-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-140863969-1');

    </script>
    <!-- -- Facebook Pixel Code-->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '407085826801399');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=407085826801399&amp;ev=PageView&amp;noscript=1"></noscript>
    <!-- End Facebook Pixel Code-->

    <title>Drop Map</title>
    <meta name="description" content="Увійти у аккаунт Dropmap">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="keywords" content="аккаунт, акаунт, увійти">
    <meta name="theme-color" content="#00132B">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body data-page="login-page">
<div class="login-page">
    <div class="container">
        <div class="o-login-header"><a href="../"><img src="{% static 'img/logo.png' %}" alt="logo"></a></div>
        <div class="login-box">
            {% if next %}
                {% if user.is_authenticated %}
                    <h1>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</h1>
                {% else %}
                    <h1>Окей, але спочатку ...</h1>
                {% endif %}
            {% else %}
                <h1>Привіт</h1>
            {% endif %}
            <h3>Увійди у акаунт або <a href="{% url "user:signup" %}"><u>зареестуйся</u></a></h3>
            {% if form.errors %}
                <p>Упс. Щось тут не правильно</p>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="input-holder input-center">
                    <div class="ds6-textbox-container"><span class="floating-label">
              <label for="userid" class="floating-label__label">Instagram username</label><span class="textbox">
{#                        {{ form.username }}#}
                <input id="id_username" name="username" autofocus required maxlength="64" autocomplete=""
                       browserautofilled="false"
                       class="textbox__control"></span></span></div>
                </div>
                <div class="input-holder input-center">
                    <div class="ds6-textbox-container"><span class="floating-label">
              <label for="userid" class="floating-label__label">Пароль</label><span class="textbox">
{#                        {{ form.password }}#}
                <input id="id_password" name="password" type="password" required maxlength="64" autocomplete=""
                       browserautofilled="false"
                       class="textbox__control"></span></span></div>
                </div>
                <input type="submit" value="Увійти" class="submit-button">
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
            <!-- on registration-->
            <p class="warning-info">* Ми не просимо пароль від твоєї інсти! Нам потрібен лиш нік нейм щоб звязатись
                з
                тобою якщо ти купиш або продаш річ</p>
        </div>
    </div>
</div>
</body>
</html>