{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="uk">
<head>
    <meta charset="utf-8">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140863969-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-140863969-1');

    </script>
    <!-- -- Facebook Pixel Code-->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '407085826801399');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=407085826801399&amp;ev=PageView&amp;noscript=1"></noscript>
    <!-- End Facebook Pixel Code-->

    <title>Drop Map</title>
    <meta name="description" content="Увійти у аккаунт Dropmap">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="keywords" content="аккаунт, акаунт, увійти">
    <meta name="theme-color" content="#00132B">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body data-page="login-page">
<div class="login-page">
    <div class="container">
        <div class="o-login-header"><a href="../"><img src="{% static 'img/logo.png' %}" alt="logo"></a></div>
        <div class="login-box">

            <h1>Створити аккаунт</h1>

            <h3>Уже є? <a href="{% url "login" %}"><u>Увійти</u></a></h3>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-holder input-center">
                        {% for error in field.errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                        <div class="ds6-textbox-container">
                        <span class="floating-label">

                            <label for="{{ field.id_for_label }}"
                                   class="floating-label__label">{{ field.label_tag }}</label>

                            <span class="textbox">
                                {{ field }}
                            </span>
                        </span>
                        </div>
                    </div>
                {% endfor %}
                <input type="submit" value="Увійти" class="submit-button">
            </form>
            <!-- on registration-->
            <p class="warning-info">* Ми не просимо пароль від твоєї інсти! Нам потрібен лиш нік нейм щоб звязатись
                з
                тобою якщо ти купиш або продаш річ</p>
        </div>
    </div>
</div>
</body>
</html>