{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{# PAGE SETTINGS #}

{% block data_page %}data-page="place-item-detail"{% endblock %}

{% block title %}{{ place.name }} на {{ place.address }} - Dropmap{% endblock %}

{% block menu-active-item %}УСІ {{ type|upper }}И{% endblock %}

{% block all-places-active %}menu__item--active{% endblock %}

{% block viewport %}
    <meta name="viewport" content="width=device-width,initial-scale=1">{% endblock %}

{% block description %}
    <meta name="description" content="Вся інфа про {{ type }} {{ place.name }} на {{ place.address }} у м. Львів.{% if shedule %} Навіть про розклад цін на тиждень.{% endif %} Drop map.">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="{{ place.name }}, {{ type }}, львів">
{% endblock %}

{# END PAGE SETTINGS #}
{% block stylesheet %}
    {# todo set in prod#}
    {#    <link rel="stylesheet" href="{% static 'styles/includes/leaflet.css' %}"> #}
    {# todo download it and store localy #}
    <link rel="stylesheet" href="https://elmarquis.github.io/Leaflet.GestureHandling/dist/leaflet-gesture-handling.css"
          type="text/css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
{% endblock %}
{% block content %}
    {#    todo fix it + glide#}
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item">
                <!-- if breadcrumb is single--><a href="#" title="DROPMAP.COM.UA" class="breadcrumb__link">DROPMAP.COM.UA</a>
            </li>
            <li class="breadcrumb__item">
                <!-- if breadcrumb is single--><a href="
                    {% if type == "сток" %}{% url "places:all_stocks" %}{% else %}{% url "places:all_seconds" %}{% endif %}"
                                                  title="УСІ {{ type|upper }}И"
                                                  class="breadcrumb__link">УСІ {{ type|upper }}И</a>
            </li>
            <li class="breadcrumb__item"><span class="breadcrumb__link-current">EUROSHOP</span></li>
        </ul>
    </div>


    <div class="container">
        <div class="row">
            <div id="intro" class="col-lg-7">
                <div id="glideslider" class="glide">
                    <div data-glide-el="track" class="glide__track">
                        <ul class="glide__slides">
                            {% thumbnail place.main_image "350x250" crop="center" as im %}
                                <li style="background-image: url('{{ im.url }}');"
                                    class="glide__slide"></li>
                            {% empty %}
                                <li style="background-image: url('{% static 'img/no-image.png' %}');"
                                    class="glide__slide"></li>
                            {% endthumbnail %}
                            {% thumbnail place.image2 "350x250" crop="center" as im %}
                                <li style="background-image: url('{{ im.url }}');"
                                    class="glide__slide"></li>
                            {% endthumbnail %}
                            {% thumbnail place.image3 "350x250" crop="center" as im %}
                                <li style="background-image: url('{{ im.url }}');"
                                    class="glide__slide"></li>
                            {% endthumbnail %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-place-description col-lg-5">
                <h1>{{ place.name }}</h1>
                {% if place.description %}
                    <div class="info-holder">
                        <h4 class="bold">Про магазин</h4>
                        <h5 class="info-holder--info">{{ place.description }}</h5>
                    </div>
                {% endif %}
                <div class="info-holder">
                    <h4 class="bold">Адреса</h4>
                    <h5>{{ place.address }}</h5>
                </div>
                <div class="info-holder">
                    <h4 class="bold">Рейтинг</h4>
                    <div class="icon-holder">
                        <svg class="icon small15">
                            <use xlink:href="{% static "img/sprite.svg" %}#icon-star_24px"></use>
                        </svg>
                        <h5>{{ place.rating }}</h5>
                    </div>
                </div>
                <div class="info-holder">
                    <h4 class="bold">Місто</h4>
                    <h5>{{ place.city }}</h5>
                </div>
                {% if place.day %}
                    <div class="info-holder">
                        <h4 class="bold">День оновлення</h4>
                        <h5>{{ place.get_day_display }}</h5>
                    </div>
                {% endif %}
                {% if place.sale %}
                    <div class="info-holder">
                        <h4 class="bold">Акції</h4>
                        <h5>{{ place.sale }}</h5>
                    </div>
                {% endif %}
                {% if additional_info %}
                    <h5 class="bold margin10px">Тут навіть є:</h5>
                    {% if place.shop_site %}
                        <div class="info-holder">
                            <h4>Сайт магазина</h4><a href="facebook.com" target="_blank" rel="noopener noreferrer">facebook.com/dropmap</a>
                        </div>
                    {% endif %}
                    {% if place.phone %}
                        <div class="info-holder">
                            <h4>Контакти</h4><a href="tel:+38{{ place.phone }}">{{ place.phone }}</a>
                        </div>
                    {% endif %}
                    {% if shedule %}
                        <div class="info-holder info-holder-daily">
                            <h4>Тижневий розклад</h4>
                            <div class="icon-holder">
                                <h5>Детальніше</h5>
                                <svg class="icon small">
                                    <use xlink:href="{% static "img/sprite.svg" %}#icon-arrow"></use>
                                </svg>
                            </div>

                            <div class="info-holder--more_info">
                                <div class="holder">
                                    <p>Понеділок</p>
                                    <p>{{ shedule.mon }} грн/кг</p>
                                    <p>Вівторок</p>
                                    <p>{{ shedule.tue }} грн/кг</p>
                                    <p>Середа</p>
                                    <p>{{ shedule.wed }} грн/кг</p>
                                    <p>Четверг</p>
                                    <p>{{ shedule.thu }} грн/кг</p>
                                    <p>П'ятниця</p>
                                    <p>{{ shedule.fri }} грн/кг</p>
                                    <p>Субота</p>
                                    <p>{{ shedule.sat }} грн/кг</p>
                                    {% if shedule.sun %}
                                        <p>Неділя</p>
                                        <p>{{ shedule.sun }} грн/кг</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="info-holder info-holder-buttons">
                    <a target="_blank" rel="noopener noreferrer"
                       href="https://www.google.com/maps/search/?api=1&amp;query={{ place.coordinates.latitude }},{{ place.coordinates.longitude }}"
                       class="button-text-icon small-text">
                        <div class="text">Відкрити в Google maps</div>
                        <div class="button-text-icon--holder">
                            <svg class="icon rightTag icon-white small">
                                <use xlink:href="{% static "img/sprite.svg" %}#icon-arrow"></use>
                            </svg>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="leafletmap-single"></div>
    </div>

    <section class="o-place-offer">
        <div class="container">
            <div class="m-place-offer-line">
                <div class="m-place-offer-line--heading">
                    <h3>Найгодніші {{ type }}и</h3>
                </div>
                <div class="m-place-offer-line--helptext">
                    <p>У Львові</p>
                </div>
            </div>
            <div class="m-place-offer-block">
                <div class="m-place-offer-block--helptext">
                    <p>У Львові</p>
                </div>
                <div class="m-place-offer-block--holder">
                    {% for second in second_list %}
                        <div class="m-place-item">
                        {% thumbnail second.main_image "230x200" crop="center" as im %}
                            <div style="background-image: url('{{ im.url }}');"
                                 class="m-place-item--image">
                        {% empty %}
                            <div style="background-image: url('{% static 'img/no-image.png' %}');"
                                 class="m-place-item--image">
                        {% endthumbnail %}
                    <p>{{ second.description|truncatechars:63 }}</p>
                    </div>
                    <hr>
                    <div class="m-place-item--text-block">
                        <h4>{{ second.name }}</h4>
                        <div class="m-place-item--text-block__info">
                            <svg class="icon icon-text-block">
                                <use xlink:href="{% static 'img/sprite.svg' %}#icon-clock"></use>
                            </svg>
                            <p>{% if second.get_day_display %}{{ second.get_day_display }}{% elif second.sale %}
                                {{ second.sale|truncatechars:20 }}{% else %}Акцій зараз немає{% endif %}</p>
                        </div>
                        <div class="m-place-item--text-block__info">
                            <p>{{ second.rating }}</p>
                            <svg class="icon icon-text-block star">
                                <use xlink:href="{% static 'img/sprite.svg' %}#icon-star_24px"></use>
                            </svg>
                        </div>
                    </div>
                    <a href="{{ second.get_absolute_url }}#show-map" class="m-place-item--button">
                        <p>Детальніше</p>
                        <svg class="icon rightTag">
                            <use xlink:href="{% static 'img/sprite.svg' %}#icon-arrow"></use>
                        </svg>
                    </a><a href="{{ second.get_absolute_url }}" class="m-place-item--link"></a>
                    </div>
                    {% empty %}
                        <p>На жаль на сьогодні оновлень немає. Але є на <b><a style="color: #00132b;"
                                                                              href="{% url "places:place_map_seconds" %}">завтра</a></b>
                        </p>
                    {% endfor %}
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        var api_request_postfix = '{% if type == "сток" %}stock{% else %}second{% endif %}/{{ place.id }}';
    </script>
    <script type="text/javascript" src="{% static 'scripts/libs/glide.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/libs/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/libs/leaflet-full-screen.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/libs/leaflet-gesture-handling.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
{% endblock %}