{% extends 'base.html' %}
{% load static %}

{# PAGE SETTINGS #}

{% block data_page %}data-page="map"{% endblock %}

{% block title %}Карта Стоків - Dropmap{% endblock %}

{% block description %}
    <meta name="description" content="Стоки Львова зібрані на одну карту. Ми тоже замахались платити купу грошей за речі в звичайних магазинах. В стоках значно дешевше. Dropmap Drop map.">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="карта, сток, акції, львів">
{% endblock %}

{% block menu-active-item %}КАРТА{% endblock %}

{% block map-active %}menu__item--active{% endblock %}

{% block stylesheet %}
    {# todo set in prod leaflet styles & others #}
    {#    <link rel="stylesheet" href="{% static 'styles/includes/leaflet.css' %}"> #}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
{% endblock %}

{# END PAGE SETTINGS #}

{% block content %}
    <!-- fix if one-->
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item">
                <!-- if breadcrumb is single--><a href="#" title="DROPMAP.COM.UA" class="breadcrumb__link">DROPMAP.COM.UA</a>
            </li>
            <li class="breadcrumb__item">
                <!-- if breadcrumb is single--><a href="#" title="КАРТА ЗНИЖОК" class="breadcrumb__link">КАРТА
                ЗНИЖОК</a>
            </li>
            <li class="breadcrumb__item"><span class="breadcrumb__link-current">СТОКИ</span></li>
        </ul>
    </div>
    <div class="page-switcher">
        <div class="container"><a href="/mapseconds" class="link-second non-active m-page-switcher">
            <h2>Секонд хенд</h2>
            <h3>оновлення товару</h3></a><a href="/mapstocks" class="link-stock active m-page-switcher">
            <h2>Стоки</h2>
            <h3>акції та знижки</h3></a>
            <div class="page-switcher--active"></div>
        </div>
    </div>
    <div class="container">
        <div class="everydayseconds o-map-stocks-info"><span> <img src="{% static 'img/marker_orange.png' %}"
                                                                   class="everyday-marker">
        <p>- Стоки, у яких акції сьогодні</p></span>
        </div>
        <div id="leafletmap-stocks"></div>
        <div class="button-fullcolor-holder"><a href="{% url "places:place_suggest" %}" style="background-color: #F95900;"
                                                class="button-fullcolor">Запропонувати
            сток</a>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'scripts/libs/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/libs/leaflet-full-screen.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/libs/leaflet-gesture-handling.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
{% endblock %}
