{% extends 'base.html' %}
{% load static %}

{# PAGE SETTINGS #}

{% block data_page %}data-page="map"{% endblock %}

{% block title %}Карта Секондів - Dropmap{% endblock %}
{% block description %}
    <meta name="description" content="Ми зібрали всі секонди Львова і занесли їх на одну карту. Тепер точно не треба записувати дні оновлень в нотатки. Dropmap Drop map.">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="карта, секонд-хенд, графік оновлень, львів">
{% endblock %}

{% block menu-active-item %}КАРТА{% endblock %}

{% block map-active %}menu__item--active{% endblock %}

{% block stylesheet %}
    {# todo set in prod #}
    {#    <link rel="stylesheet" href="{% static 'styles/includes/leaflet.css' %}"> #}
    {# todo download it and store localy #}
    <link rel="stylesheet" href="https://elmarquis.github.io/Leaflet.GestureHandling/dist/leaflet-gesture-handling.css"
          type="text/css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
{% endblock %}

{# END PAGE SETTINGS #}

{% block content %}
    <!-- fix if one-->
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item">
                <!-- if breadcrumb is single--><a href="#" title="DROPMAP.COM.UA" class="breadcrumb__link">DROPMAP.COM.UA</a>
            </li>
            <li class="breadcrumb__item">
                <!-- if breadcrumb is single--><a href="#" title="КАРТА ОНОВЛЕНЬ" class="breadcrumb__link">КАРТА
                ОНОВЛЕНЬ</a>
            </li>
            <li class="breadcrumb__item"><span class="breadcrumb__link-current">СЕКОНД ШОПИ</span></li>
        </ul>
    </div>
    <div class="page-switcher">
        <div class="container"><a href="/mapseconds" class="link-second active m-page-switcher">
            <h2>Секонд хенд</h2>
            <h3>оновлення товару</h3></a><a href="/mapstocks" class="link-stock non-active m-page-switcher">
            <h2>Стоки</h2>
            <h3>акції та знижки</h3></a>
            <div class="page-switcher--active"></div>
        </div>
    </div>
    <section class="o-day-picker">
        <div class="container">
            <label class="monday button-day">Понеділок
                <input type="checkbox">
                <div class="checkbox--colorbox">
                    <svg class="icon checkbox--colorbox__checkmark">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
            </label>
            <label class="tuesday button-day">Вівторок
                <input type="checkbox">
                <div class="checkbox--colorbox">
                    <svg class="icon checkbox--colorbox__checkmark">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
            </label>
            <label class="wednesday button-day">Середа
                <input type="checkbox">
                <div class="checkbox--colorbox">
                    <svg class="icon checkbox--colorbox__checkmark">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
            </label>
            <label class="thursday button-day">Четвер
                <input type="checkbox">
                <div class="checkbox--colorbox">
                    <svg class="icon checkbox--colorbox__checkmark">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
            </label>
            <label class="friday button-day">П'ятниця
                <input type="checkbox">
                <div class="checkbox--colorbox">
                    <svg class="icon checkbox--colorbox__checkmark">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
            </label>
            <label class="saturday button-day">Субота
                <input type="checkbox">
                <div class="checkbox--colorbox">
                    <svg class="icon checkbox--colorbox__checkmark">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
            </label>
            <label class="sunday button-day">Неділя
                <input type="checkbox">
                <div class="checkbox--colorbox">
                    <svg class="icon checkbox--colorbox__checkmark">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
            </label>
            <div class="selectAllButContainer">
                <label class="selectAllbutton button-day">Вибрати всі
                    <input type="checkbox">
                    <div class="checkbox--colorbox">
                        <svg class="icon checkbox--colorbox__checkmark">
                            <use xlink:href="{% static 'img/sprite.svg' %}#icon-three-checkmarks"></use>
                        </svg>
                    </div>
                </label>
            </div>
        </div>
    </section>
    <div class="container">
        <div id="leafletmap">
        </div>
        <div class="everydayseconds"> <span> <img src="{% static 'img/marker_everyday.png' %}" class="everyday-marker">
        <p>- Секонди, в яких оновлення кожен день</p></span>
            <label class="everyday button-day">Показувати секонди з щоденним оновленням
                <input type="checkbox">
                <div class="checkbox--colorbox">
                    <svg class="icon checkbox--colorbox__checkmark">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
            </label><a href="{% url "places:place_suggest" %}" style="background-color: #F95900;"
                       class="button-fullcolor button-fullcolor-margin">Запропонувати
                секонд</a>
        </div>
    </div>
    {% comment %}
    <section class="o-place-offer onmap">

    </section>
{% endcomment %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'scripts/libs/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/libs/leaflet-full-screen.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/libs/leaflet-gesture-handling.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
{% endblock %}
