{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{# PAGE SETTINGS #}
{% block data_page %}data-page="all-shops"{% endblock %}

{% block title %}Усі {% if type == "second" %}секонди{% else %}стоки{% endif %} - Dropmap{% endblock %}

{% block description %}
    {% if type == "second" %}
        <meta name="description"
              content="Список секондів Львова. Тепер точно не треба записувати дні оновлень в нотатки. Dropmap Drop map.">
    {% else %}
        <meta name="description" content="Список стоків Львова. Легко знайди інформацію про потрібний сток. Dropmap Drop map.">
    {% endif %}
{% endblock %}

{% block keywords %}
    {% if type == "second" %}
        <meta name="keywords" content="список, секонд-хенд, секонд, львів">
    {% else %}
        <meta name="keywords" content="список, сток, стоки, львів">
    {% endif %}
{% endblock %}

{% block menu-active-item %}УСІ {% if type == "second" %}СЕКОНДИ{% else %}СТОКИ{% endif %}{% endblock %}

{% block all-places-active %}menu__item--active{% endblock %}

{# END PAGE SETTINGS #}

{% block content %}

    <!-- fix if one-->
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item">
                <!-- if breadcrumb is single--><a href="#" title="DROPMAP.COM.UA" class="breadcrumb__link">DROPMAP.COM.UA</a>
            </li>
            <li class="breadcrumb__item"><span class="breadcrumb__link-current">УСІ {% if type == "second" %}СЕКОНДИ{% else %}СТОКИ{% endif %}</span></li>
        </ul>
    </div>
    <div class="page-switcher">
        {#    todo check here if second or stock is rendered & change active & non-active classes #}
        <div class="container"><a href="{% url "places:all_seconds" %}"
                                  class="link-second m-page-switcher {% if type == "second" %}active{% else %}non-active{% endif %}">
            <h2>Секонд хенд</h2>
            <h3>оновлення товару</h3></a><a href="{% url "places:all_stocks" %}"
                                            class="link-stock m-page-switcher {% if type == "stock" %}active{% else %}non-active{% endif %}">
            <h2>Стоки</h2>
            <h3>акції та знижки</h3></a>
            <div class="page-switcher--active"></div>
        </div>
    </div>
    <section class="o-allplaces">
        <div class="container">
            <div class="o-allplaces--holder">

                {% for second in second_list %}
                    <div class="m-place-item">
                    {% thumbnail second.main_image "230x200" crop="center" as im %}
                        <div style="background-image: url('{{ im.url }}');"
                             class="m-place-item--image">
                    {% empty %}
                        <div style="background-image: url('{% static 'img/no-image.png' %}');"
                             class="m-place-item--image">
                    {% endthumbnail %}
                <p>{{ second.description|truncatechars:63 }}</p>
                </div>

                <hr>
                <div class="m-place-item--text-block">
                    <h4>{{ second.name }}</h4>
                    <div class="m-place-item--text-block__info">
                        <svg class="icon icon-text-block">
                            <use xlink:href="{% static 'img/sprite.svg' %}#icon-clock"></use>
                        </svg>
                        <p>{% if second.get_day_display %}{{ second.get_day_display }}{% elif second.sale %}
                            {{ second.sale|truncatechars:20 }}{% else %}Акцій зараз немає{% endif %}</p>
                    </div>
                    <div class="m-place-item--text-block__info">
                        <p>{{ second.rating }}</p>
                        <svg class="icon icon-text-block star">
                            <use xlink:href="{% static 'img/sprite.svg' %}#icon-star_24px"></use>
                        </svg>
                    </div>
                </div>
                <a href="{{ second.get_absolute_url }}#show-map" class="m-place-item--button">
                    <p>Детальніше</p>
                    <svg class="icon rightTag">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-arrow"></use>
                    </svg>
                </a><a href="{{ second.get_absolute_url }}" class="m-place-item--link"></a>
                </div>
                {% empty %}
                    Покіщо нічого немає
                {% endfor %}
                </div>

                {% if is_paginated %}
                    <div class="o-allplaces--paginator">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="button-paginator backward">
                        {% else %}
                            <a href="#" class="button-paginator backward disable">
                        {% endif %}
                        <div class="text">Сюда</div>
                        <div class="button-paginator--holder">
                            <svg class="icon icon-white small">
                                <use xlink:href="{% static 'img/sprite.svg' %}#icon-arrow"></use>
                            </svg>
                        </div>
                        </a>

                        <span>Сторінка {{ page_obj.number }} з {{ paginator.num_pages }}. </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="button-paginator forward">
                        {% else %}
                            <a href="#" class="button-paginator forward disable">
                        {% endif %}
                        <div class="text">Туда</div>
                        <div class="button-paginator--holder">
                            <svg class="icon icon-white small">
                                <use xlink:href="{% static 'img/sprite.svg' %}#icon-arrow"></use>
                            </svg>
                        </div>
                        </a>
                    </div>
                {% endif %}
            </div>
    </section>
{% endblock %}