{% extends 'base.html' %}
{% load static %}

{# PAGE SETTINGS #}

{% block data_page %}data-page="map"{% endblock %}

{% block title %}Запропонувати заклад - Dropmap{% endblock %}

{% block menu-active-item %}ЗАПРОПОНУВАТИ{% endblock %}

{% block map-active %}menu__item--active{% endblock %}

{% block stylesheet %}
{#    for map#}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
{% endblock %}

{% block description %}
    <meta name="description" content="Допоможи нам стати краще і додай секонд або сток. Плюшки у вигляді знижок у магазині включені. Dropmap Drop map.">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="секонд-хенд, секонд, сток, dropmap, запропонувати">
{% endblock %}
{# END PAGE SETTINGS #}


{% block content %}
    <div class="container">
        <form method="POST" action="">{% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}