{% extends 'base.html' %}
{% load static %}

{# PAGE SETTINGS #}

{% block data_page %}data-page="shop-update"{% endblock %}

{% block title %}Редагувати інформацію - Dropmap{% endblock %}

{% block menu-active-item %}РЕДАГУВАТИ{% endblock %}

{% block my-profile-active %}menu__item--active{% endblock %}

{# END PAGE SETTINGS #}

{% block content %}
    <div class="container">
        <br>
        <a href="{% url "user:profile" %}">Назад</a>
        <form method="POST" action="">{% csrf_token %}
            {{ form.media }}
            {% for field in form %}
                <div class="input-holder">
                    {% for error in field.errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}
                    <div class="ds6-textbox-container">
                        <span class="floating-label">

                            <label for="{{ field.id_for_label }}"
                                   class="floating-label__label">{{ field.label_tag }}</label>

                            <span class="textbox">
                                {{ field }}
                            </span>
                        </span>
                    </div>
                </div>
            {% endfor %}
            <input type="submit" value="Зберегти" class="submit-button submit-button-m-b">
        </form>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}