{% extends 'base.html' %}
{% load static %}

{# PAGE SETTINGS #}

{% block data_page %}data-page="shop-update"{% endblock %}

{% block title %}Купити - Dropmap{% endblock %}

{% block menu-active-item %}КУПИТИ{% endblock %}

{% block shop-active %}menu__item--active{% endblock %}

{# END PAGE SETTINGS #}

{% block content %}
    <div class="container">
        <form method="POST" action="">{% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" value="Submit">

        </form>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    <a href="">CONTINUE</a>
    </div>
{% endblock %}