{% extends 'base.html' %}
{% load static %}

{# PAGE SETTINGS #}

{% block data_page %}data-page="shop-create"{% endblock %}

{% block title%}Створити оголошення - Dropmap{% endblock %}

{% block menu-active-item %}СТВОРИТИ{% endblock %}

{% block shop-active %}menu__item--active{% endblock %}

{# END PAGE SETTINGS #}

{% block content %}
    <div class="container">
<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <input type="submit" value="Submit">

</form>
    </div>
{% endblock %}