{% extends 'base.html' %}
{% load static %}
{% load app_filters %}
{% load thumbnail %}

{# PAGE SETTINGS #}

{% block data_page %}data-page="shop-create"{% endblock %}

{% block title %}Магазин - Dropmap{% endblock %}

{% block menu-active-item %}МАГАЗИН{% endblock %}

{% block shop-active %}menu__item--active{% endblock %}

{% block description %}
    <meta name="description" content="Інтернет магазин Dropmap. Речі які точно будуть дешевші ніж у звичайних магазинах. Drop map">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="секонд-хенд, речі, секонд, сток, dropmap, львів">
{% endblock %}

{# END PAGE SETTINGS #}

{% block content %}
    <!-- fix if one-->
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item">
                <!-- if breadcrumb is single--><a href="#" title="DROPMAP.COM.UA" class="breadcrumb__link">DROPMAP.COM.UA</a>
            </li>
            <li class="breadcrumb__item"><span class="breadcrumb__link-current">МАГАЗИН</span></li>
        </ul>
    </div>
    <form method="get">
        {% for field in filter.form %}
            <div style="font-weight: bold;
                    margin:4px 0 ; {% if field.errors %}color: #c41200{% endif %};
                    font-size: 14px;">
                {{ field.name }} <br>
            </div>

            {{ field.help_text }}
            {{ field }}
        {% endfor %}



        <button type="submit">Search</button>
    </form>
{#    <div class="container"><a href="{% url "shop:create" %}" style="background-color: #00132B;"#}
{#                              class="button-fullcolor button-fullcolor-shop">Додати товар</a>#}
{#    </div>#}

{#    <section class="o-shop-topbar">#}
{#        <div class="container">#}
{#            <div class="m-shop-topbar">#}
{#                <div class="filter-button">#}
{#                    <svg class="icon filter">#}
{#                        <use xlink:href="../img/sprite.svg#icon-filter"></use>#}
{#                    </svg>#}
{#                    <p>Фільтр і сортування</p>#}
{#                    <svg class="icon arrow">#}
{#                        <use xlink:href="../img/sprite.svg#icon-arrow"></use>#}
{#                    </svg>#}
{#                </div>#}
{#                <div class="drop-down-filter-bar">#}
{#                    <form method="get">#}
{#                        {% for field in filter.form %}#}
{#                            <div style="font-weight: bold;#}
{#                                    margin:4px 0 ; {% if field.errors %}color: #c41200{% endif %};#}
{#                                    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">#}
{#                                {{ field.name }} <br>#}
{#                            </div>#}
{##}
{#                            {{ field.help_text }}#}
{#                            {{ field }}#}
{#                        {% endfor %}#}
{##}
{##}
{##}
{#                        <button type="submit">Search</button>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <section class="o-shop">
        <div class="container">
            <ul class="o-shop__items-holder shop-offer-item-black">
                {% for item in item_list %}
                    <li class="product-item">
                        <article class="shop-offer-item">
                            <div class="image-container">
                                <a href="{{ item.get_absolute_url }}"
                                   title="{{ item.name|capfirst }}"
                                   class="item-link">
                                    {% thumbnail item.main_image "170x170" crop="center" as im %}
                                        <img src="{{ im.url }}"
                                             alt="{{ item.name|capfirst }} - Dropmap" class="item-image">
                                    {% endthumbnail %}
                                </a>
                            </div>
                            {% if item.condition == "BN" %}
                                <div style="background-color:#009748;" class="shop-offer-item--label">
                                <span>Нова річ</span>
                            {% elif item.condition == "ST" %}
                                <div style="background-color:#CF7D35;" class="shop-offer-item--label">
                                <span>Секонд як нова</span>
                            {% else %}
                                <div style="background-color:#CE0030;" class="shop-offer-item--label">
                                <span>Секонд, є нюанси</span>
                            {% endif %}
                            </div>
                            <div class="item-details">
                                <h3 class="item-heading"><a href="{{ item.get_absolute_url }}"
                                                            title="{{ item.name|capfirst }}">{{ item.name|capfirst }}</a>
                                </h3>
                                <strong
                                        class="item-price"><span
                                        class="price-regular">{{ item.price }} грн</span></strong>
                                <div class="item-size-brand"><span>Розмір - {{ item.get_size_display }}</span>
                                </div>
                            </div>
                        </article>
                    </li>
                {% endfor %}

            </ul>


            {% if is_paginated %}
                <div class="o-allplaces--paginator">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.get_full_path|fix_url }}page={{ page_obj.previous_page_number }}"
                           class="button-paginator backward">
                    {% else %}
                        <a href="#" class="button-paginator backward disable">
                    {% endif %}
                    <div class="text">Сюда</div>
                    <div class="button-paginator--holder">
                        <svg class="icon icon-white small">
                            <use xlink:href="{% static 'img/sprite.svg' %}#icon-arrow"></use>
                        </svg>
                    </div>
                    </a>

                    <span>Сторінка {{ page_obj.number }} з {{ paginator.num_pages }}. </span>

                    {% if page_obj.has_next %}
                        <a href="{{ request.get_full_path|fix_url }}page={{ page_obj.next_page_number }}"
                           class="button-paginator forward">
                    {% else %}
                        <a href="#" class="button-paginator forward disable">
                    {% endif %}
                    <div class="text">Туда</div>
                    <div class="button-paginator--holder">
                        <svg class="icon icon-white small">
                            <use xlink:href="{% static 'img/sprite.svg' %}#icon-arrow"></use>
                        </svg>
                    </div>
                    </a>
                </div>
            {% endif %}


        </div>
    </section>
{% endblock %}