{% extends 'base.html' %}
{% load static %}

{# PAGE SETTINGS #}

{% block data_page %}data-page="shop-update"{% endblock %}

{% block title %}Замовлення {{ order.id }} - Dropmap{% endblock %}

{% block menu-active-item %}КУПИТИ{% endblock %}

{% block shop-active %}menu__item--active{% endblock %}

{# END PAGE SETTINGS #}

{% block content %}
    <div class="container">
        <h1>замовлення номер {{ order.id }} - {{ order.item }}</h1>
        <h4>
            Ми надіслали тобі чек і інформацію куди оплачувати. У тебе є 2 години для оплати</h4>
        <p>Статус оплати {{ order.get_payment_status_display }}</p>
        <p>Бот автоматично перевірить оплату втою оплату на протязі години. Якщо хочеш швидче то написни на кнопку</p>

        <a href="#">Я оплатив. Перевірити оплату</a>
        <a href="#">Я оплатив. А воно щось не підтверджує</a>
    </div>
{% endblock %}