{% extends 'base.html' %}
{% load static %}

{# PAGE SETTINGS #}

{% block data_page %}data-page="about"{% endblock %}

{% block title %}Написати нам - Dropmap{% endblock %}

{% block menu-active-item %}НАПИСАТИ НАМ{% endblock %}

{% block about-active %}menu__item--active{% endblock %}

{% block description %}
    <meta name="description" content="Маєш питання? Напиши нам. Drop map Dropmap">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="написати, drop map, львів">
{% endblock %}

{# END PAGE SETTINGS #}


{% block content %}
    <div class="container">
        {#<h1>Напиши нам</h1>#}
        <form method="post" enctype="multipart/form-data">
            {#    {% csrf_token %}#}
            {#    {{ form }}#}



            {% for field in form %}
                {% csrf_token %}
                <div style="font-weight: bold;
                        margin:4px 0 ; {% if field.errors %}color: #c41200{% endif %};
                        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">
                    {{ field.name }} <br>
                </div>

                {{ field.help_text }}
                {{ field }}
            {% endfor %}


            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
{% comment "Optional note"%}

{% endcomment %}
